.loading-screen {
	display: flex;
	min-height: 100vh;
	justify-content: center;
}

.loading-spinner {
	img {
		width: 40px;
		height: 40px;

		&.--small {
			width: 20px;
			height: 20px;
		}

		&.--large {
			width: 80px;
			height: 80px;
		}
	}
}

.spinner-top-20 {
	margin-top: 20px;
}
.spinner-top-100 {
	margin-top: 100px;
}
