# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
max_line_length = 120
trim_trailing_whitespace = true

# tabs, not spaces (no size specified - user preference)
indent_style = tab

# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
