.lead-gen-slide-out-area {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: calc(#{$lead-gen-panel-height + 200px});
	background-color: black;
	position: relative;

	&__background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height:100%;
		object-fit: cover;
		opacity: 0.2;
	}

	&__container {
		max-width: 1240px;
		width: 100%;
		padding: 0px 30px;
		margin: 0 auto;
		z-index: 1;

		@include respond-above($bp-md) {
			padding: 0px 0px;
		}
	

	&__big-text {
		max-width: 600px;
		color: $white;
		z-index: 1;
	}
}
}
