.selected-filters-listing {
	margin-top: 25px;
	margin-bottom: 25px;
	@include respond-above($bp-sm) {
		margin-bottom: 20px;
	}

	&__brand-entries, &__product-type-entries {
		display: flex;
		flex-wrap: wrap;
	}

	.filter-entry {
		margin-right: 10px;
		margin-bottom: 4px;
		cursor: pointer;
	}

	.filter-x, .filter-name {
		color: $blue;
		font-family: $heading;
		font-size: 16px;
		line-height: 18px;
	}

	.filter-x {
		font-weight: $regular;
		margin-right: 5px;
	}

	.filter-name {
		font-weight: $bold;
	}
}
